* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.card-preview {
    flex-grow: 1;
    background: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 50em) {
    main {
        flex-direction: row;
    }

    .card-preview {
        background-image: url(./images/bg-main-desktop.png);
        background-size: cover;
        height: 100vh;
        width: min(30vw, 483px);
    }
}

.card {
    position: relative;
    width: min(75vw, 330px);
}

.card--front {
    z-index: 1;
    transform: translate(-5%, 110%);
}

@media (min-width: 50em) {
    .card--front {
        transform: translate(20%, -10%);
    }

}

.card>img {
    width: min(75vw, 330px);
    aspect-ratio: auto;
    position: relative;

}

@media (min-width: 50em) {
    .card>img {
        width: min(30vw, 445px);
        aspect-ratio: auto;
    }
}

.card-grid {
    position: absolute;
    inset: 0;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 50% 20%;
    color: #FFF;
}

@media (min-width: 50em) {
    .card-grid {
        padding: 1.2rem;
        width: min(30vw, 445px);
    }
}

.card--back {
    transform: translate(10%, -50%);
}

@media (min-width: 50em) {
    .card--back {
        transform: translate(50%, 20%);
        width: min(30vw, 445px);
    }
}

.card--logo {
    grid-column: span 2;
    z-index: inherit;
}

.card--logo > img {
    height: 100%;
}

.card--num {
    font-size: max(3vw, 1.1rem);
    text-align: justify;
    letter-spacing: 0.1rem;
    grid-column: span 2;
    z-index: inherit;
    display: flex;
    align-items: flex-end;
}

@media (min-width: 50em) {
    .card--num {
        font-size: min(1.8vw, 2rem);
    }
}

.card--card-holder-name {
    z-index: inherit;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card--exp-date {
    z-index: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.8rem;
}

.card--cvc {
    position: absolute;
    top: 42%;
    right: 10%;
    z-index: 2;
    color: #FFF;
}

/* form */

.form-container {
    flex-grow: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form {
    margin-top: 7rem;
    padding: 1rem;
    width: min(100%, 400px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    column-gap: 0.5rem;
    row-gap: 0.3rem;
}

.grid-wide {
    grid-column: span 3;
}

@media (min-width: 50em) {
    .form {
        margin-top: 0;
        margin-left: 10em;
    }
}

.form__label {
    text-transform: uppercase;
    height: fit-content;
}

.form__input {
    padding: 0.8rem;
    margin: 0.3rem 0;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(270, 3%, 87%);
}

.form__input--narrow {
    width: 45%;
}

.form__input:focus {
    outline: none;
    border-color: hsl(249, 99%, 64%) hsl(278, 94%, 30%) hsl(278, 94%, 30%) hsl(249, 99%, 64%);
}

.form__button {
    width: 100%;
    padding: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: none;
}

.form__button:hover,
.form__button.focus {
    background-color: hsl(278, 68%, 22%);
    color: hsl(0, 0%, 60%);
}

/* errors */

.form__input--error {
    border-color: hsl(0, 100%, 66%);
    color: hsl(0, 100%, 66%);
}

.form__error-message {
    font-size: 0.7rem;
    color: hsl(0, 100%, 66%);
}

/* "Thank you" message */

.ty {
    position: absolute;
    margin-top: 5rem;
    padding: 1rem;
    width: min(100%, 400px);
    z-index: 2;
}

@media (min-width: 50em) {
    .ty {
        margin-top: 0;
        margin-left: 10em;
    }
}

.image-center {
    display: block;
    margin-inline: auto;
    padding: 2rem;
}

.ty__title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
}

.ty__text {
    text-align: center;
    color: hsl(279, 6%, 55%);
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

/* hidden */

.hidden {
    z-index: -2; 
    opacity: 0%;
}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}